!!! 5
html(lang='en')
  head
    title My Web Site
    block stylesheets
      link(rel='stylesheet', href='/styles/misestilos.css')
      link(rel='stylesheet', media='screen and (max-width: 1080px)', href='/styles/misestilos_old.css')
    
    block scripts
      script(data-main='js/boot.js', type='text/javascript', src='js/libs/require-min.js')

  body
    block div 
      #content

        block header
        
        block navegacion

        block section

        block aside
        
        block footer