!!! 5
html(lang='en')
  head
    title reset password

  body
    p Reseteo de pwd
    #content
      form(action='/resetPassword',method='post')
        input(type='hidden',name='accountId',value='#{locals.accountId}')
        p
          label(for='password') New Password:
            input#password(type='password',name='password')
        p
          input(type='submit', value='Enviar')