<!--  Hace referencia a registerTemplate  /--> 
<h1>register</h1>

<form id="registro">
	<fieldset>
		<legend>
			<label>
			Nombre:
			   <input type="text" name="nombre" />
		    </label>

		    <label>
			Apellido:
			   <input type="text" name="apellido" />
		    </label>
	</fieldset>

	<fieldset>
		<legend> Direccion email </legend>

		<label> Eamil:
			<input type="text" name="email" />
		</label>

		<br />

		<label>
			Email (confirmar):
			<input type="text" name="conf_email" />
		</label>
	</fieldset>

	<fieldset>
		<legend> Password </legend>

		<label> Password:
			<input type="password" name="password" />
		</label>

		<br />

		<label>
			Password (revisar esta UX):
			<input type="password" name="conf_password" />
		</label>
	</fieldset>	

	<p>
		<input type="submit" value="Registrarse">
	</p>
</form>
<ul>
	<li><a href="#login"> Logarse </a></li>
</ul>