<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> {{title}} </title>
 
  <link rel="stylesheet" href="/styles/fonts/bootstrap.css"> 
  <link rel="stylesheet" href="/styles/misestilos.css">
  <link rel="stylesheet" media="screen and (max-width: 1080px)" href="/styles/misestilos_old.css">


  <script type="text/javascript" data-main="js/boot.js" src="js/libs/require-min.js"></script>
  
</head>
<body>

<div id="main">

	{% block section %} 

		{% block content %} 

    {% endblock %}

  {% endblock %}

  {% block aside %}

  {% endblock %}
    
  {% block footer %}
   	
  {% endblock %}
   
</div>
 
</body>
</html>